# Configuração do BD Postgres

# POSTGRES_USER=bantads
# POSTGRES_PASSWORD= 
# POSTGRES_DB=bantads

# REDIS_PASSWORD=

# RABBITMQ_USER=admin
# RABBITMQ_PASSWORD=

# MS Email (SMTP Gmail - senha de app: https://myaccount.google.com/apppasswords)
# GMAIL_USERNAME=
# GMAIL_APP_PASSWORD=
# Configuração do API Gateway

# API_GATEWAY_PORT=3000
# CORS_ORIGIN=http://localhost:4200
# MS_CONTA_URL=http://localhost:8080
