# Configuração do BD Postgres

# POSTGRES_USER=bantads
# POSTGRES_PASSWORD= 
# POSTGRES_DB=bantads

# REDIS_PASSWORD=

# RABBITMQ_USER=admin
# RABBITMQ_PASSWORD=

# Configuração do API Gateway

# API_GATEWAY_PORT=3000
# CORS_ORIGIN=http://localhost:4200
# MS_CONTA_URL=http://localhost:8080