# POR FAVOR NUNCA COMMITAR O .env real (senha do Gmail, JWT secret, etc)
.env
.env.local
*.env

# Node.js / Angular (frontend e gateway)
node_modules/
dist/
.angular/
npm-debug.log/

# Java / Spring Boot — Maven
target/
*.class
*.jar
*.war
!.mvn/wrapper/maven-wrapper.jar
build/

# IDEs
.idea/
.vscode/
services/ms-conta/src/main/resources/application.properties
services/ms-cliente/src/main/resources/application.properties
services/ms-gerente/src/main/resources/application.properties
services/ms-auth/src/main/resources/application.properties
